[package]
name = "espeak-sys"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true

[dependencies]

[build-dependencies]
bindgen = "0.72.1"
cmake = "0.1.57"
